ipykernel==6.30.1
jupyter==1.1.1
ipywidgets==8.1.7
pandas==2.3.3
tqdm==4.67.1
joblib==1.5.2
prophet==1.1.7
langchain-core==0.3.78
langchain-community==0.3.30
langchain-openai==0.3.34
langchain_chroma==0.2.6
langgraph==0.6.8
langgraph-prebuilt==0.6.4
pypdf==6.1.1
streamlit==1.50.0
hyperopt==0.2.7